<h2>bp-scatter</h2>
<div local-class="scatter">
	{{bp-scatter eid='bp-scatter' 
		title='scatter title'
		chartData=model.scatterData}}
</div>
<h2>bp-bar-stack</h2>
<div local-class="stack">
	{{bp-bar-stack eid='bp-stack' 
		title='stack title'
		chartData=model.stackData}}
</div>