<h3>charts - bar</h3>
<div local-class="simple-bar">
	{{bp-bar
		title='RMB SOM Ranking-Total Market by MAT 2018 Sep'
		subText='something subtext'
		barData=barData}}
</div>
<div class="dropdown-divider"></div>
<h3>multi bar line</h3>
<div local-class="multi-bar">
	{{bp-bar-line
		eid="barLine"
		}}
</div>