{{!-- <h2 local-class="title">Welcome to BP-Components-UI</h2>
<section local-class="container">
	<aside>
		<nav>
			<ol>
				{{#link-to "default" tagName='li' activeClass="nav-active" }}
					Default
				{{/link-to}}
				{{#link-to "layout" tagName='li' activeClass="nav-active" }}
					Layout
				{{/link-to}}
				{{#link-to "radio-checkbox" tagName='li' activeClass="nav-active" }}
					Radio&Checkbox
				{{/link-to}}
				{{#link-to "theme-colors" tagName='li' activeClass="nav-active" }}
					Theme-Colors
				{{/link-to}}
				{{#link-to "button" tagName='li' activeClass="nav-active" }}
					Button
				{{/link-to}}
			</ol>
		</nav>
	</aside>
	<section local-class="content">
		{{outlet}}
	</section>
</section> --}}
<h2 local-class="title" id="title">Welcome to BP-Components</h2>
<section local-class="container">
	<aside>
		<nav>
			{{#bp-nav as |n|}}
				{{#n.item}}
					{{#n.link-to "default"}}Default{{/n.link-to}}
				{{/n.item }}
				{{#n.item}}
					{{#n.link-to "theme-colors"}}Theme-Colors{{/n.link-to}}
				{{/n.item }}
				{{#n.item}}
					{{#n.link-to "layout"}}
						<img src="https://www.easyicon.net/api/resizeApi.php?id=1185721&size=72" alt="">
						Layout{{/n.link-to}}
				{{/n.item }}
				{{#n.dropdown
					title='Buttons' 
					icon="https://www.easyicon.net/api/resizeApi.php?id=1228842&size=24" 
					as |dd|}}
					{{#dd.item}}
						{{#dd.link-to "button"}}
							<img src="https://www.easyicon.net/api/resizeApi.php?id=1228842&size=24" alt="">
							Button{{/dd.link-to}}
					{{/dd.item}}
					{{#dd.item}}
						{{#dd.link-to "button-group"}}
							<img src="https://www.easyicon.net/api/resizeApi.php?id=1181927&size=24" alt="">
							ButtonGroup{{/dd.link-to}}
					{{/dd.item}}
				{{/n.dropdown}}
				{{#n.item}}
					{{#n.link-to "dropdown"}}Dropdown{{/n.link-to}}
				{{/n.item}}
				{{#n.item}}
					{{#n.link-to "choose"}}Radio&Checkbox{{/n.link-to}}
				{{/n.item}}
				{{#n.dropdown title='Inputs' as |dd|}}
					{{#dd.item}}
						{{#dd.link-to "input"}}
							BaiscInput{{/dd.link-to}}
					{{/dd.item}}
					{{#dd.item}}
						{{#dd.link-to "search-bar"}}
							SearchBar{{/dd.link-to}}
					{{/dd.item}}
				{{/n.dropdown}}
				{{#n.item}}
					{{#n.link-to "card"}}Card{{/n.link-to}}
				{{/n.item}}
				{{#n.item}}
					{{#n.link-to "navs"}}Nav{{/n.link-to}}
				{{/n.item}}
				{{#n.item}}
					{{#n.link-to "progress"}}Progress{{/n.link-to}}
				{{/n.item}}
				{{#n.item}}
					{{#n.link-to "modal"}}Modal{{/n.link-to}}
				{{/n.item}}
				{{#n.item}}
					{{#n.link-to "tabs"}}Tabs{{/n.link-to}}
				{{/n.item}}
				{{#n.item}}
					{{#n.link-to "badge"}}Badge{{/n.link-to}}
				{{/n.item}}
			{{/bp-nav}}
		</nav>
	</aside>
	<section local-class="content">
		{{outlet}}
	</section>
</section>