<h2 local-class="title">Welcome to BP-Components-UI</h2>
<section local-class="container">
	<aside>
		<nav>
			<ol>
				{{#link-to "default" tagName='li' activeClass="nav-active" }}
					Default
				{{/link-to}}
				{{#link-to "layout" tagName='li' activeClass="nav-active" }}
					Layout
				{{/link-to}}
				{{#link-to "radio-checkbox" tagName='li' activeClass="nav-active" }}
					Radio&Checkbox
				{{/link-to}}
				{{#link-to "theme-colors" tagName='li' activeClass="nav-active" }}
					Theme-Colors
				{{/link-to}}
				{{#link-to "button" tagName='li' activeClass="nav-active" }}
					Button
				{{/link-to}}
			</ol>
		</nav>
	</aside>
	<section local-class="content">
		{{outlet}}
	</section>
</section>