<h2>bp-circle</h2>
<div style='width: 300px;height: 300px'>
	{{bp-circle
		eid="circleone"
		circleData=model.circleData
		circleColor=model.circleColor
		labelEmphasis=false}}
</div>
<div class="dropdown-divider"></div>
<h2>bp-circle/tm</h2>
<div style="height: 150px;">
	{{bp-circle/tm eid="circletwo"
		circleData=model.circleData
		circleColor=model.circleColor
		labelEmphasis=false}}
</div>
<div class="dropdown-divider"></div>
<h2>bp-gauge</h2>
{{bp-gauge}}
<h2 class="my-4">bp-circle-double</h2>
<div class="px-4" style="height:332px ">
	{{bp-circle-double
		eid="cricleDoubleOne"
		}}
</div>