{{bp-avatar type='square'}}
<div class="dropdown-divider"></div>
{{bp-avatar type='cricle'}}
<div local-class='spinner'>
  <div local-class="rect1"></div>
  <div local-class="rect2"></div>
  <div local-class="rect3"></div>
  <div local-class="rect4"></div>
  <div local-class="rect5"></div>
  <div local-class="rect6"></div>
</div>