.font-setting {
	.display-large {
		td:nth-child(2) {
			@extend %display-large;
		}
	}

	.title {
		td:nth-child(2) {
			@extend %title;
		}
	}

	.header-large {
		td:nth-child(2) {
			@extend %header-large;
		}
	}

	.header-medium {
		td:nth-child(2) {
			@extend %header-medium;
		}
	}

	.header-small {
		td:nth-child(2) {
			@extend %header-small;
		}
	}

	.p-primary {
		td:nth-child(2) {
			@extend %p-primary;
		}
	}

	.p-secondary {
		td:nth-child(2) {
			@extend %p-secondary;
		}
	}

	.p-small {
		td:nth-child(2) {
			@extend %p-small;
		}
	}
}

.table-1 {
	tr:first-child {
		font-size: 24px;
	}

	tr:nth-child(2) {
		font-size: 18px;
	}

	tr:last-child {
		font-size: 14px;
	}

	tr>td {
		vertical-align: middle;
	}
}

.table-2 {
	.circle {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}

	div.color-a {
		background-color: #555555;
	}

	div.color-b {
		background-color: #999999;
	}

	div.color-c {
		background-color: #D3D3D3;
	}

	div.color-d {
		background-color: #FF7D7E;
	}

	tr>td {
		vertical-align: middle;
	}
}
