.table-1 {
	tr:first-child {
		font-size: 24px;
	}

	tr:nth-child(2) {
		font-size: 18px;
	}

	tr:last-child {
		font-size: 14px;
	}
}

.table-2 {

	tr:first-child {
		font-size: 24px;
	}

	tr:nth-child(2) {
		div.color-a {
			width: 83px;
			height: 83px;
			border-radius: 50%;
			background-color: #555555;
		}

		font-size: 24px;
	}

	tr:nth-child(3) {
		div.color-b {
			width: 83px;
			height: 83px;
			border-radius: 50%;
			background-color: #999999;
		}

		font-size: 24px;
	}

	tr:nth-child(4) {
		div.color-c {
			width: 83px;
			height: 83px;
			border-radius: 50%;
			background-color: #D3D3D3;
		}

		font-size: 24px;
	}

	tr:last-child {
		div.color-d {
			width: 83px;
			height: 83px;
			border-radius: 50%;
			background-color: #FF7D7E;
		}

		font-size: 24px;
	}
}
