.table-1 {
	tr:first-child {
		font-size: 24px;
	}

	tr:nth-child(2) {
		font-size: 18px;
	}

	tr:last-child {
		font-size: 14px;
	}
}

.table-2 {
	.circle {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}

	div.color-a {
		background-color: #555555;
	}

	div.color-b {
		background-color: #999999;
	}

	div.color-c {
		background-color: #D3D3D3;
	}

	div.color-d {
		background-color: #FF7D7E;
	}
}
