<section class="default-container">
	<h3>项目中默认的一些样式</h3>
	<h4>字体家族</h4>
	<p>为了维护在不同系统以及浏览器的显示下，字体始终保持良好的“易读性”和“可读性”，体现了友好、 稳定和专业的特性。采用以下 字体规范：
	</p>
	<p>
		<code>
		system, -apple-system, BlinkMacSystemFont,
		"PingFang SC", "Hiragino Sans GB", "Segoe UI", "Roboto", "Microsoft YaHei",
		"Helvetica Neue", Helvetica, Arial, sans-serif;
		</code>
	</p>
	<h4>字体设置</h4>
	<table class="table" local-class="font-setting">
		<thead class="thead-dark">
			<th>position</th>
			<th>example</th>
			<th>weight/LH</th>
			<th>color</th>
			<th>desc</th>
		</thead>
		<tbody>
			<tr local-class="display-large">
				<td>display-large</td>
				<td>落霞与孤鹜齐飞<br> 秋水共长天一色
				</td>
				<td>M29/40L</td>
				<td>N800</td>
				<td>大标题,一个页面只出现一次</td>
			</tr>
			<tr local-class="title">
				<td>title</td>
				<td>落霞与孤鹜齐飞<br> 秋水共长天一色
				</td>
				<td>M24/33L</td>
				<td>N800</td>
				<td>大标题,通常用于 page header,一个页面只出现一次</td>
			</tr>
			<tr local-class="header-large">
				<td>header-large</td>
				<td>落霞与孤鹜齐飞<br> 秋水共长天一色
				</td>
				<td>M20/28L</td>
				<td>n800</td>
				<td>大标题,通常用于空状态的提示信息标题等</td>
			</tr>
			<tr local-class="header-medium">
				<td>header-medium</td>
				<td>落霞与孤鹜齐飞<br> 秋水共长天一色
				</td>
				<td>M16/22L</td>
				<td>n800</td>
				<td>中标题,通常用于对话框标题等</td>
			</tr>
			<tr local-class="header-small">
				<td>header-small</td>
				<td>落霞与孤鹜齐飞<br> 秋水共长天一色
				</td>
				<td>M14/20L</td>
				<td>n800</td>
				<td>小标题,通常用于表单页和信息页的信息标题等</td>
			</tr>
			<tr local-class="p-primary">
				<td>p-primary</td>
				<td>落霞与孤鹜齐飞<br> 秋水共长天一色
				</td>
				<td>R14/20L</td>
				<td>n600</td>
				<td>正文,用于大多数普通层级信息及段落等</td>
			</tr>
			<tr local-class="p-secondary">
				<td>p-secondary</td>
				<td>落霞与孤鹜齐飞<br> 秋水共长天一色
				</td>
				<td>R14/20L</td>
				<td>n100</td>
				<td>辅助文字,用于次级信息,如表单的帮助信息等</td>
			</tr>
			<tr local-class="p-small">
				<td>p-small</td>
				<td>落霞与孤鹜齐飞<br> 秋水共长天一色
				</td>
				<td>R12/L17</td>
				<td>n100</td>
				<td>最次级信息</td>
			</tr>
		</tbody>
	</table>
	<h4>Font Size</h4>
	<table local-class="table-1" class="table">
		<thead class="thead-dark">
			<th>字体大小</th>
			<th>字体重量</th>
			<th>使用场景</th>
		</thead>
		<tr>
			<td>24px</td>
			<td>W600</td>
			<td>用于特殊强调字体</td>
		</tr>
		<tr>
			<td>18px</td>
			<td>W400</td>
			<td>用于标题，title</td>
		</tr>
		<tr>
			<td>14px</td>
			<td>W400</td>
			<td>用于正文内容，按钮</td>
		</tr>
	</table>
	<h4>字阶与行高</h4>
	<table class="table">
		<tr>
			<td>FontSize</td>
			<td>12</td>
			<td>14</td>
			<td>16</td>
			<td>20</td>
			<td>24</td>
			<td>30</td>
			<td>36</td>
			<td>46</td>
			<td>56</td>
			<td>68</td>
			<td>...</td>
		</tr>
		<tr>
			<td>LineHeight</td>
			<td>20</td>
			<td>22</td>
			<td>24</td>
			<td>28</td>
			<td>32</td>
			<td>38</td>
			<td>46</td>
			<td>54</td>
			<td>64</td>
			<td>76</td>
			<td>...</td>
		</tr>
	</table>
	<h4>Font Color</h4>
	<table class="table" local-class="table-2">
		<thead class="thead-dark">
			<th></th>
			<th>色号</th>
			<th>使用场景</th>
		</thead>
		<tbody>
			<tr>
				<td>
					<div local-class="color-a circle"></div>
				</td>
				<td># 555555</td>
				<td>用于一级字内容、一级标题、菜单选中文字、title</td>
			</tr>
			<tr>
				<td>
					<div local-class="color-b circle"></div>
				</td>
				<td># 999999</td>
				<td>用于正文内容</td>
			</tr>
			<tr>
				<td>
					<div local-class="color-c circle"></div>
				</td>
				<td># D3D3D3</td>
				<td>用于辅助说明内容</td>
			</tr>
			<tr>
				<td>
					<div local-class="color-d circle"></div>
				</td>
				<td># FF7D7E</td>
				<td>用于强调文字</td>
			</tr>
		</tbody>
	</table>
</section>