<section>
	<h3>bp-button-group 的使用方法</h3>
	<p>目前主要接受的属性有 value / type / vertical ；</p>
	<p>接受的方法为 onChange</p>
	<p>其中，value 为 子button 中的 active 的值</p>
	<p>type 能接受 ‘radio’/'checkbox'</p>
	<p>vertical 默认为 false，通过
		{{#bp-button value=vertical type="default" onClick=(action 'changeVertical' )}}changeVertical{{/bp-button}}
		可将其变为垂直排列。
	</p>
	<h4>Radio</h4>
	{{#bp-button-group
		value=buttonGroupValue 
		type="radio" 
		vertical=vertical 
		onChange=(action (mut buttonGroupValue)) as |bg|}}
		{{#bg.button type="default" value=1}}1{{/bg.button}}
		{{#bg.button type="default" value=2}}second {{/bg.button}}
		{{#bg.button type="default" value=3}}3{{/bg.button}}
	{{/bp-button-group}}
	You selected: {{buttonGroupValue}}!
	{{#code-block src="template.hbs" language='handlebars' }}
		{{btnRadio}}
	{{/code-block}}
	<h4>Checkbox</h4>
	{{#bp-button-group
		value=buttonGroupValue2
		type="checkbox" 
		vertical=vertical 
		onChange=(action (mut buttonGroupValue2)) as |bg|}}
		{{#bg.button type="default" value=1}}1{{/bg.button}}
		{{#bg.button type="default" value=2}}second button{{/bg.button}}
		{{#bg.button type="default" value=3}}3{{/bg.button}}
	{{/bp-button-group}}
	You selected: {{buttonGroupValue2}}!
	{{#code-block src="template.hbs" language="handlebars"}}
		{{btnCheckbox}}
	{{/code-block}}
</section>