<h3>charts - line</h3>
<div local-class="sefl-line">
	{{bp-line
		title='BP-Component/bp-line'
		lineData=lineData}}
</div>
<div class="dropdown-divider"></div>
<h3>charts - line/tm</h3>
<div local-class="self-line-tm" class="py-4 px-4">
	{{bp-line/tm
		title="产品份额竞争趋势"
		subText='全国'
		lineData=lineDataTm
		lineColor=lineColorTm}}
</div>