.icon,
.inside-colorful {
    svg {
        path {
            fill: lightgreen;
        }
    }
}

.colorful {
    color: lightblue;
}

.icons-container {
    width: 841px;
    margin: 0 auto;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;

    .icon-container {
        cursor: pointer;
        width: 140px;
        height: 120px;
        text-align: center;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;

        &:hover {
            color: lightblue;
        }
    }
}