<h3>charts - pie</h3>
<div local-class="simple-bar">
	{{bp-radar
		eid="radarOne"}}
</div>
<div local-class="thin-radar">
	{{bp-radar
		eid="radarSecond"}}
</div>
<div local-class="simple-bar">
	<h2>click radar axis name is {{axisName}}</h2>
	{{bp-radar-ability
		eid="radarSecond22"
		onClick=(action 'changeRadar')}}
</div>