<h3>Badge 的用法</h3>
<h4>type</h4>
<h2> Pharbers Company {{#bp-badge type='primary'}}new{{/bp-badge}}</h2>
<h3> Pharbers Company {{#bp-badge type='secondary'}}new{{/bp-badge}}</h3>
<h4> Pharbers Company {{#bp-badge type='success'}}new{{/bp-badge}}</h4>
<h5> Pharbers Company {{#bp-badge type='danger'}}new{{/bp-badge}}</h5>
<h5> Pharbers Company {{#bp-badge type='warning'}}new{{/bp-badge}}</h5>
<h4> Pharbers Company {{#bp-badge type='info'}}new{{/bp-badge}}</h4>
<h3> Pharbers Company {{#bp-badge type='light'}}new{{/bp-badge}}</h3>
<h2> Pharbers Company {{#bp-badge type='dark'}}new{{/bp-badge}}</h2>
<h4>pill</h4>
<h2> Pharbers Company {{#bp-badge pill=false type='secondary'}}new{{/bp-badge}}</h2>
<h4>tagName = 'a'</h4>
<h2> Pharbers Company {{#bp-badge tagName='a' pill=true type='primary'}}new{{/bp-badge}}</h2>
{{!-- <p> --}}
{{#bp-tag type='primary'}}aha{{/bp-tag}}
{{!-- </p> --}}