.table-0 {
    tbody {
        td {
            border: 0;
            padding-bottom: 0;
        }

        tr {
            td:nth-child(3) {
                span {
                    color: $n800;
                }
            }

            td:last-child {
                span {
                    color: $n800;
                }
            }
        }

        tr:first-child {
            span {
                border-radius: 5px 5px 0 0;

            }
        }

        tr:last-child {
            span {
                border-radius: 0 0 5px 5px;

            }
        }
    }

    span {
        padding: 16px;
        display: inline-block;
        width: 100%;
        height: 80px;
        // border-radius: 5px 5px 0 0;
        color: #fff;

        &.n900 {
            background-color: $n900;
        }

        &.n400 {
            background-color: $n400;
        }

        &.n050 {
            background-color: $n050;
        }

        &.n900a {
            background-color: $n900a;
        }

        &.n400a {
            background-color: $n400a;
        }

        &.n050a {
            background-color: $n050a;
        }

        &.n800 {
            background-color: $n800;
        }

        &.n300 {
            background-color: $n300;
        }

        &.n040 {
            background-color: $n040;
        }

        &.n800a {
            background-color: $n800a;
        }

        &.n300a {
            background-color: $n300a;
        }

        &.n040a {
            background-color: $n040a;
        }

        &.n600 {
            background-color: $n600;
        }

        &.n200 {
            background-color: $n200;
        }

        &.n030 {
            background-color: $n030;
        }

        &.n600a {
            background-color: $n600a;
        }

        &.n200a {
            background-color: $n200a;
        }

        &.n030a {
            background-color: $n030a;
        }

        &.n500 {
            background-color: $n500;
        }

        &.n100 {
            background-color: $n100;
        }

        &.n020 {
            background-color: $n020;
        }

        &.n500a {
            background-color: $n500a;
        }

        &.n100a {
            background-color: $n100a;
        }

        &.n020a {
            background-color: $n020a;
        }

        &.n090 {
            background-color: $n090;
        }

        &.n010 {
            background-color: $n010;
        }

        &.n090a {
            background-color: $n090a;
        }

        &.n010a {
            background-color: $n010a;
        }

        &.n080 {
            background-color: $n080;
        }

        &.n000 {
            background-color: $n000;
        }

        &.n080a {
            background-color: $n080a;
        }

        &.n000a {
            background-color: $n000a;
        }

        &.n060 {
            background-color: $n060;
        }

        &.n060a {
            background-color: $n060a;
        }
    }
}

.table-1 {
    .square {
        width: 45px;
        height: 45px;
        border-radius: 7px;
    }

    div.color-a {
        background-image: linear-gradient(-180deg, #5E81CF 0%, #4863AC 94%);
    }

    div.color-b {
        background-color: #5E81CF;
    }

    div.color-c {
        background-color: #899ED6;
    }

    div.color-d {
        background-color: #F4F4F4;
    }

    div.color-e {
        background-color: #FFFFFF;
    }

    tr>td {
        vertical-align: middle;
    }
}

.table-01 {
    tbody {
        tr:first-child {
            td span {
                border-radius: 6px 6px 0 0;
            }
        }

        tr:last-child {
            td span {
                border-radius: 0 0 6px 6px;
            }
        }
    }

    span {
        padding: 16px;
        display: inline-block;
        width: 100%;
        height: 80px;
        // border-radius: 5px 5px 0 0;
        color: #fff;

        &.b500 {
            background-color: $b500;
        }

        &.b400 {
            background-color: $b400;
        }

        &.b300 {
            background-color: $b300;
        }

        &.b200 {
            background-color: $b200;
        }

        &.b100 {
            background-color: $b100;
        }

        &.b075 {
            background-color: $b075;
        }

        &.b050 {
            background-color: $b050;
        }

        &.r500 {
            background-color: $r500;
        }

        &.r400 {
            background-color: $r400;
        }

        &.r300 {
            background-color: $r300;
        }

        &.r200 {
            background-color: $r200;
        }

        &.r100 {
            background-color: $r100;
        }

        &.r75 {
            background-color: $r75;
        }

        &.r50 {
            background-color: $r50;
        }

        &.y500 {
            background-color: $y500;
        }

        &.y400 {
            background-color: $y400;
        }

        &.y300 {
            background-color: $y300;
        }

        &.y200 {
            background-color: $y200;
        }

        &.y100 {
            background-color: $y100;
        }

        &.y75 {
            background-color: $y75;
        }

        &.y50 {
            background-color: $y50;
        }

        &.g500 {
            background-color: $g500;
        }

        &.g400 {
            background-color: $g400;
        }

        &.g300 {
            background-color: $g300;
        }

        &.g200 {
            background-color: $g200;
        }

        &.g100 {
            background-color: $g100;
        }

        &.g75 {
            background-color: $g75;
        }

        &.g50 {
            background-color: $g50;
        }

        &.t500 {
            background-color: $t500;
        }

        &.t400 {
            background-color: $t400;
        }

        &.t300 {
            background-color: $t300;
        }

        &.t200 {
            background-color: $t200;
        }

        &.t100 {
            background-color: $t100;
        }

        &.t75 {
            background-color: $t75;
        }

        &.t50 {
            background-color: $t50;
        }

        &.p500 {
            background-color: $p500;
        }

        &.p400 {
            background-color: $p400;
        }

        &.p300 {
            background-color: $p300;
        }

        &.p200 {
            background-color: $p200;
        }

        &.p100 {
            background-color: $p100;
        }

        &.p75 {
            background-color: $p75;
        }

        &.p50 {
            background-color: $p50;
        }
    }
}

.table-2 {


    .square {
        width: 45px;
        height: 45px;
        border-radius: 7px;
    }

    div.color-a {
        background-color: #1890FF;
    }

    div.color-b {
        background-color: #94E5B3;
    }

    div.color-c {
        background-color: #FAAD15;
    }

    div.color-d {
        background-color: #FF7D7E;
    }
}

.table-4 {
    display: flex;
    flex-direction: column;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

    .rectangle {
        width: 80px;
        height: 35px;
    }

    div.color-a {
        background-color: #EFEFEF;
    }

    div.color-b {
        background-color: #E5F1F7;
    }

    div.color-c {
        background-color: #9ECDEA;
    }

    div.color-d {
        background-color: #58A1DB;
    }

    div.color-e {
        background-color: #3589D4;
    }

    div.color-f {
        background-color: #2568B1;
    }
}

.table-6 {
    display: flex;
    flex-direction: column;

    .rectangle {
        width: 200px;
        height: 35px;
    }

    div.color-a {
        background-color: #1890FF;
    }

    div.color-b {
        background-color: #2FC25B;
    }

    div.color-c {
        background-color: #FACC14;
    }

    div.color-d {
        background-color: #223273;
    }

    div.color-e {
        background-color: #8543E0;
    }

    div.color-f {
        background-color: #13C2C2;
    }

    div.color-g {
        background-color: #3436C7;
    }

    div.color-h {
        background-color: #F04864;
    }
}