<h2>Colors</h2>
<p>将项目中用到的颜色展示出来，共使用者查阅</p>
<h3>基础颜色</h3>
<p>中性色的应用
	灰色（Gray）作为中性色在网页设计中被大量使用到，它的使用有利于关键内容的衬托和功能的引导。
	这类色彩主要体现在导航框架、背景底色、描边、或次级操作等等。</p>
<p>以n900为基础，通过alpha的变化来拓展色阶</p>
<table class="table" local-class='table-0'>
	<thead>
		<tr>
			<th colspan="3">Neutrals</th>
			<th colspan="3">Neutral Alpha </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span local-class='n900'>n900</span></td>
			<td><span local-class='n400'>n400</span></td>
			<td><span local-class='n050'>n050</span></td>
			<td><span local-class='n900a'>n900a</span></td>
			<td><span local-class='n400a'>n400a</span></td>
			<td><span local-class='n50a'>n50a</span></td>
		</tr>
		<tr>
			<td><span local-class='n800'>n800</span></td>
			<td><span local-class='n300'>n300</span></td>
			<td><span local-class='n040'>n040</span></td>
			<td><span local-class='n800a'>n800a</span></td>
			<td><span local-class='n300a'>n300a</span></td>
			<td><span local-class='n040a'>n040a</span></td>
		</tr>
		<tr>
			<td><span local-class='n600'>n600</span></td>
			<td><span local-class='n200'>n200</span></td>
			<td><span local-class='n030'>n030</span></td>
			<td><span local-class='n600a'>n600a</span></td>
			<td><span local-class='n200a'>n200a</span></td>
			<td><span local-class='n030a'>n030a</span></td>
		</tr>
		<tr>
			<td><span local-class='n500'>n500</span></td>
			<td><span local-class='n100'>n100</span></td>
			<td><span local-class='n020'>n020</span></td>
			<td><span local-class='n500a'>n500a</span></td>
			<td><span local-class='n100a'>n100a</span></td>
			<td><span local-class='n020a'>n020a</span></td>
		</tr>
		<tr>
			<td></td>
			<td><span local-class='n090'>n090</span></td>
			<td><span local-class='n010'>n010</span></td>
			<td></td>
			<td><span local-class='n090a'>n090a</span></td>
			<td><span local-class='n010a'>n010a</span></td>
		</tr>
		<tr>
			<td></td>
			<td><span local-class='n080'>n080</span></td>
			<td><span local-class='n000'>n000</span></td>
			<td></td>
			<td><span local-class='n080a'>n080a</span></td>
			<td><span local-class='n000a'>n000a</span></td>
		</tr>
		<tr>
			<td></td>
			<td><span local-class='n060'>n060</span></td>
			<td></td>
			<td></td>
			<td><span local-class='n060a'>n060a</span></td>
			<td></td>
		</tr>
	</tbody>
</table>
<div class="dropdown-divider"></div>
<h3>功能颜色</h3>
<p>功能色的应用
	UI 设计中，比较稳定的色彩除了中性色外还有具备特定含义的功能色，这类色彩起到传递功能信息、
	代表某种状态等作用。主要应用于消息通知、反馈提醒、表单校验这类场景中的成功、出错、失败、提醒、链接等状态。</p>
<table class="table" local-class='table-01'>
	<thead>
		<tr>
			<td>Primary</td>
			<td>Red-error</td>
			<td>Yellow-warning</td>
			<td>Green-success</td>
			<td>Teals-access</td>
			<td>Purples-support</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span local-class='b500'>b500</span></td>
			<td><span local-class='r500'>r500</span></td>
			<td><span local-class='y500'>y500</span></td>
			<td><span local-class='g500'>g500</span></td>
			<td><span local-class='t500'>t500</span></td>
			<td><span local-class='p500'>p500</span></td>
		</tr>
		<tr>
			<td><span local-class='b400'>b400</span></td>
			<td><span local-class='r400'>r400</span></td>
			<td><span local-class='y400'>y400</span></td>
			<td><span local-class='g400'>g400</span></td>
			<td><span local-class='t400'>t400</span></td>
			<td><span local-class='p400'>p400</span></td>
		</tr>
		<tr>
			<td><span local-class='b300'>b300</span></td>
			<td><span local-class='r300'>r300</span></td>
			<td><span local-class='y300'>y300</span></td>
			<td><span local-class='g300'>g300</span></td>
			<td><span local-class='t300'>t300</span></td>
			<td><span local-class='p300'>p300</span></td>
		</tr>
		<tr>
			<td><span local-class='b200'>b200</span></td>
			<td><span local-class='r200'>r200</span></td>
			<td><span local-class='y200'>y200</span></td>
			<td><span local-class='g200'>g200</span></td>
			<td><span local-class='t200'>t200</span></td>
			<td><span local-class='p200'>p200</span></td>
		</tr>
		<tr>
			<td><span local-class='b100'>b100</span></td>
			<td><span local-class='r100'>r100</span></td>
			<td><span local-class='y100'>y100</span></td>
			<td><span local-class='g100'>g100</span></td>
			<td><span local-class='t100'>t100</span></td>
			<td><span local-class='p100'>p100</span></td>
		</tr>
		<tr>
			<td><span local-class='b075'>b075</span></td>
			<td><span local-class='r75'>r75</span></td>
			<td><span local-class='y75'>y75</span></td>
			<td><span local-class='g75'>g75</span></td>
			<td><span local-class='t75'>t75</span></td>
			<td><span local-class='p75'>p75</span></td>
		</tr>
		<tr>
			<td><span local-class='b050'>b050</span></td>
			<td><span local-class='r50'>r50</span></td>
			<td><span local-class='y50'>y50</span></td>
			<td><span local-class='g50'>g50</span></td>
			<td><span local-class='t50'>t50</span></td>
			<td><span local-class='p50'>p50</span></td>
		</tr>
	</tbody>
</table>
{{!-- <table class="table" local-class="table-1">
	<thead class="thead">
		<th></th>
		<th></th>
		<th>色号</th>
		<th>使用场景</th>
	</thead>
	<tbody>
		<tr>
			<td>主色</td>
			<td>
				<div local-class="color-a square"></div>
			</td>
			<td># 5E81CF 至# 4863AC</td>
			<td>用于顶部导航栏渐变背景</td>
		</tr>
		<tr>
			<td>辅色</td>
			<td>
				<div local-class="color-b square"></div>
			</td>
			<td># 5E81CF</td>
			<td>用于主要按钮，以及需强调的组件</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<div local-class="color-c square"></div>
			</td>
			<td># 899ED6</td>
			<td>用于次要按钮</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<div local-class="color-d square"></div>
			</td>
			<td># F4F4F4</td>
			<td>用于background</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<div local-class="color-e square"></div>
			</td>
			<td># FFFFFF</td>
			<td>用于卡片</td>
		</tr>
	</tbody>
</table>
<h4>功能色</h4>
<table class="table" local-class="table-2">
	<tr>
		<td>
			<div local-class="color-a square"></div>
		</td>
		<td># 1890FF</td>
		<td>link</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-b square"></div>
		</td>
		<td># 94E5B3</td>
		<td>success</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-c square"></div>
		</td>
		<td># FAAD15</td>
		<td>warming</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-d square"></div>
		</td>
		<td># FF7D7E</td>
		<td>error\ attention</td>
	</tr>
</table>
<h4>连续色</h4>
<table class="table" local-class="table-3">
	<thead class="thead-light">
		<th>色板定义</th>
		<th>通过使用不同的深浅层次，传达从低到高的值</th>
	</thead>
	<tr>
		<td>适用数据类型</td>
		<td>连续型数据</td>
	</tr>
	<tr>
		<td>示例</td>
		<td>年龄、销售额、时间、温度等</td>
	</tr>
</table>
<table class="table" local-class="table-4">
	<tr>
		<td>
			<div local-class="color-a rectangle">
				<p>无数据</p>
			</div>
		</td>
		<td>#EFEFEF</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-b rectangle"></div>
		</td>
		<td>#E5F1F7</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-c rectangle"></div>
		</td>
		<td>#9ECDEA</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-d rectangle"></div>
		</td>
		<td>#58A1DB</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-e rectangle"></div>
		</td>
		<td>#3589D4</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-f rectangle"></div>
		</td>
		<td>#2568B1</td>
	</tr>
</table>
<h4>分类色</h4>
<table class="table" local-class="table-5">
	<thead class="thead-light">
		<th>色板定义</th>
		<th>通过每个颜色的不同，传达不同的数据点之间的视觉差异</th>
	</thead>
	<tr>
		<td>适用数据类型</td>
		<td>分类型数据（也称离散型数据）</td>
	</tr>
	<tr>
		<td>示例</td>
		<td>事物分类、部门名称、地理位置等</td>
	</tr>
</table>
<table class="table" local-class="table-6">
	<tr>
		<td>
			<div local-class="color-a rectangle"></div>
		</td>
		<td>#1890FF</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-b rectangle"></div>
		</td>
		<td>#2FC25B</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-c rectangle"></div>
		</td>
		<td>#FACC14</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-d rectangle"></div>
		</td>
		<td>#223273</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-e rectangle"></div>
		</td>
		<td>#8543E0</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-f rectangle"></div>
		</td>
		<td>#13C2C2</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-g rectangle"></div>
		</td>
		<td>#3436C7</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-h rectangle"></div>
		</td>
		<td>#F04864</td>
	</tr>
</table> --}}