<h3>Colors</h3>
<table class="table" local-class="table-1">
	<thead class="thead">
		<th></th>
		<th></th>
		<th>色号</th>
		<th>使用场景</th>
	</thead>
	<tbody>
		<tr>
			<td>主色</td>
			<td>
				<div local-class="color-a square"></div>
			</td>
			<td># 5E81CF 至# 4863AC</td>
			<td>用于顶部导航栏渐变背景</td>
		</tr>
		<tr>
			<td>辅色</td>
			<td>
				<div local-class="color-b square"></div>
			</td>
			<td># 5E81CF</td>
			<td>用于主要按钮，以及需强调的组件</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<div local-class="color-c square"></div>
			</td>
			<td># 899ED6</td>
			<td>用于次要按钮</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<div local-class="color-d square"></div>
			</td>
			<td># F4F4F4</td>
			<td>用于background</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<div local-class="color-e square"></div>
			</td>
			<td># FFFFFF</td>
			<td>用于卡片</td>
		</tr>
	</tbody>
</table>
<h4>功能色</h4>
<table class="table" local-class="table-2">
	<tr>
		<td>
			<div local-class="color-a square"></div>
		</td>
		<td># 1890FF</td>
		<td>link</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-b square"></div>
		</td>
		<td># 94E5B3</td>
		<td>success</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-c square"></div>
		</td>
		<td># FAAD15</td>
		<td>warming</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-d square"></div>
		</td>
		<td># FF7D7E</td>
		<td>error\ attention</td>
	</tr>
</table>
<h4>连续色</h4>
<table class="table" local-class="table-3">
	<thead class="thead-light">
		<th>色板定义</th>
		<th>通过使用不同的深浅层次，传达从低到高的值</th>
	</thead>
	<tr>
		<td>适用数据类型</td>
		<td>连续型数据</td>
	</tr>
	<tr>
		<td>示例</td>
		<td>年龄、销售额、时间、温度等</td>
	</tr>
</table>
<table class="table" local-class="table-4">
	<tr>
		<td>
			<div local-class="color-a rectangle">
				<p>无数据</p>
			</div>
		</td>
		<td>#EFEFEF</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-b rectangle"></div>
		</td>
		<td>#E5F1F7</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-c rectangle"></div>
		</td>
		<td>#9ECDEA</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-d rectangle"></div>
		</td>
		<td>#58A1DB</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-e rectangle"></div>
		</td>
		<td>#3589D4</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-f rectangle"></div>
		</td>
		<td>#2568B1</td>
	</tr>
</table>
<h4>分类色</h4>
<table class="table" local-class="table-5">
	<thead class="thead-light">
		<th>色板定义</th>
		<th>通过每个颜色的不同，传达不同的数据点之间的视觉差异</th>
	</thead>
	<tr>
		<td>适用数据类型</td>
		<td>分类型数据（也称离散型数据）</td>
	</tr>
	<tr>
		<td>示例</td>
		<td>事物分类、部门名称、地理位置等</td>
	</tr>
</table>
<table class="table" local-class="table-6">
	<tr>
		<td>
			<div local-class="color-a rectangle"></div>
		</td>
		<td>#1890FF</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-b rectangle"></div>
		</td>
		<td>#2FC25B</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-c rectangle"></div>
		</td>
		<td>#FACC14</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-d rectangle"></div>
		</td>
		<td>#223273</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-e rectangle"></div>
		</td>
		<td>#8543E0</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-f rectangle"></div>
		</td>
		<td>#13C2C2</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-g rectangle"></div>
		</td>
		<td>#3436C7</td>
	</tr>
	<tr>
		<td>
			<div local-class="color-h rectangle"></div>
		</td>
		<td>#F04864</td>
	</tr>
</table>