{{bp-table columns=model.columns data=model.tableData}}
<div class="dropdown-dividier"></div>
{{!-- <h3>add border</h3>
{{bp-table bodyBorder=true}}
<h3>remove hover</h3>
{{bp-table rowHover=false}} --}}

